<!-- V2
<h2 mat-dialog-title>Enter new phrase to currently {{ data.count }} phrases</h2>

<form #heroForm="ngForm">
  <mat-form-field>
    <input matInput required type="text" class="form-control" id="acronym" placeholder="Acronym" [(ngModel)]="data.acronym" name="acronym">
  </mat-form-field>
  <mat-form-field>
    <input matInput required type="text" class="form-control" id="expression" placeholder="Expression" [(ngModel)]="data.expression" name="expression">
  </mat-form-field>
  <mat-form-field>
    <input matInput required type="text" class="form-control" id="description" placeholder="Description" [(ngModel)]="data.description" name="description">
  </mat-form-field>
</form>

  <mat-dialog-actions>
    <button class="mat-raised-button" type="submit" (click)="save()">Save</button>
    <button class="mat-raised-button" (click)="close()">Close</button>
  </mat-dialog-actions>

-->

<div class="container" style="float: left">
  <h1> {{ this.data.title }}</h1>
  <form #heroForm="ngForm" (ngSubmit)="onSubmit()">

    <span class="form-group form-group-acronym col-md-3">
      <label for="acronym">Acronym</label>
      <input type="text" class="form-control" id="acronym" required [(ngModel)]="phrase.acronym" name="acronym"
        #acronym="ngModel" width="200">

      <div [hidden]="acronym.valid || acronym.pristine" class="alert alert-danger">
        Acronym is required
      </div>
    </span>

    <span class="form-group form-group-expression col-md-9">
      <label for="expression">Expression</label>
      <input type="text" class="form-control" id="expression" required [(ngModel)]="phrase.expression" name="expression"
        #expression="ngModel">
      <div [hidden]="expression.valid || expression.pristine" class="alert alert-danger">
        expression is required
      </div>
    </span>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea rows="5" type="text" class="form-control" id="description" required [(ngModel)]="phrase.description"
        name="description" #description="ngModel"></textarea>
    </div>
    <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
      description is required
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">{{this.data.buttontext}}</button>
    <button type="cancel" class="btn btn-success" (click)="onCancel()">Cancel</button>
  </form>
</div>
