/* @import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css'); */

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

.ng-untouched[required], .ng-valid.required  {
    border-left: 5px solid rgb(234, 255, 49); /* yello */
  }

/* .form-group-acronym, */
/* .form-group-expression */

.textarea {
  width: 100%;
}

.container,
label,
textarea {
  font-family: Verdana, Geneva, sans-serif;
}

.form-group,
.form-control {
  /* padding-left: 0; */
  /* width: 100%; */
  
  padding: 12px 20px;
  margin: 8px 0px;
  /* box-sizing: border-box; */
}
  

label {
  display: block;
}

input {
  display: inline;
}
