<div class="container" style="float: left">
  <h1> {{ this.data.title }}</h1>
  <form #phraseForm="ngForm" (ngSubmit)="onSubmit()">

    <span class="form-group form-group-acronym col-md-3">
      <label for="acronym">Acronym</label>
      <input type="text" class="form-control" id="acronym" required [(ngModel)]="phrase.acronym" name="acronym"
        #acronym="ngModel" width="200" placeholder="HTTP">

      <div [hidden]="acronym.valid || acronym.pristine" class="alert alert-danger">
        Acronym is required
      </div>
    </span>

    <span class="form-group form-group-expression col-md-9">
      <label for="expression">Expression</label>
      <input type="text" class="form-control" id="expression" required [(ngModel)]="phrase.expression" name="expression"
        #expression="ngModel" placeholder="Hypertext Transfer Protocol">
      <div [hidden]="expression.valid || expression.pristine" class="alert alert-danger">
        expression is required
      </div>
    </span>

    <div class="form-group form-group-description col-md-12">
      <label for="description">Description</label><br>
      <textarea width="50%" rows="5" type="text" class="form-control" id="description" required [(ngModel)]="phrase.description"
        name="description" #description="ngModel" placeholder="Application protocol for distributed, collaborative, hypermedia information systems."></textarea>
    </div>
    <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
      description is required
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!phraseForm.form.valid">{{this.data.buttontext}}</button>
    <button type="cancel" class="btn btn-success" (click)="onCancel()">Cancel</button>
  </form>
</div>
