#head {
    font-family: Verdana, Geneva, sans-serif;
    letter-spacing: 6px;
    word-spacing: 9px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}