/* @import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css'); */

span {
    font-family: Verdana, Geneva, sans-serif;
    text-decoration: none;
    text-align: center;
    font-style: normal;
}