<app-search class="searchbar" [phrasesCount]="nPhrases"></app-search>

<table class="phrases">

  <tfoot>
    <tr class="footrow">
      <td colspan="6">
        <!-- <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a>
          <a href="#">4</a> <a href="#">&raquo;</a></div> -->
          <button id="add" (click)="openDialogAdd()"><b>&nbsp;+&nbsp;</b></button>
      </td>
    </tr>
  </tfoot>

  <tbody>
    <tr class="contentrow" *ngFor="let phrase of phrases">
      <td width="11px">{{phrase.id}}</td>
      <td width="16%"><b>{{phrase.acronym}}</b></td>
      <td width="34%">{{phrase.expression | titlecase }}</td>
      <td width="60%">{{phrase.description}}</td>
      <td width="8px" style="text-align: right"><button id="edit" title="edit phrase" (click)="openDialogEdit(phrase)">...</button></td>
      <td width="8px" style="text-align: right"><button id="delete" title="delete phrase" (click)="delete(phrase)">&nbsp;x&nbsp;</button></td>
    </tr>
  </tbody>

  <thead>
    <tr class="headrow">
      <!-- <th>Entry [{{ phrases.length }}]</th> -->
      <th>Entry</th>
      <th>Acronym</th>
      <th>Expression</th>
      <th>Description</th>
      <th>EDT</th>
      <th>DEL</th>
    </tr>
  </thead>
</table>
