.searchbar {
    margin: 0 auto; 
}

table.phrases {
    /* table-layout: fixed; */
    font-family: Verdana, Geneva, sans-serif;
    border: 6px solid #FFFFFF;
    background-color: #EEEEEE;
    /* width: 100%; */
    max-width: 780px;
    min-width: 400px;
    text-align: left;
    border-collapse: collapse;
    margin: auto; /* centers table */
  }
  table.phrases td, table.phrases th {
    /* border: 4px solid #FFFFFF; */
    padding: 5px 5px;
    border-bottom: 3px solid #fff;
  }
  table.phrases tbody td {
    font-size: 13px;
    /* Hide overflowing text */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  table.phrases tr:nth-child(even) {
    background: #F5F5F5;
  }
  table.phrases tr.contentrow:hover {
    background: #fff;
  }
  table.phrases thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
    position: sticky;
    top: 0;
  }
  table.phrases thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  table.phrases thead th:first-child {
    border-left: none;
  }
  
  table.phrases tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #E6E6E6;
    background: -moz-linear-gradient(top, #ececec 0%, #e8e8e8 66%, #E6E6E6 100%);
    background: -webkit-linear-gradient(top, #ececec 0%, #e8e8e8 66%, #E6E6E6 100%);
    background: linear-gradient(to bottom, #ececec 0%, #e8e8e8 66%, #E6E6E6 100%);
    border-top: 2px solid #444444;
  }
  table.phrases tfoot td {
    font-size: 14px;
    text-align: right;
  }
  table.phrases tfoot .links {
    text-align: right;
  }
  table.phrases tfoot .links a{
    display: inline-block;
    background: #A4A4A4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }

  table.phrases .clickable:hover{
    /* background: rgb(255, 161, 38); */
    background-color: hsl(30, 100%, 50%);
    cursor: pointer;
  }

  table.phrases .clickable span {
    display: none;
    color: #000;
    text-decoration: none;
    padding: 3px;
}

table.phrases .clickable:hover span {
    display: block;
    position: absolute;
    background-color: rgb(0, 0, 0);
    border-radius: 6px;
    color: #fff;
    margin: 4px 20px;
    left: 0px;
    top: 0px;
    z-index: 1;
}
  /* Style buttons */
.btn {
  /* background-color: #dddddd; Blue background */
  background-color: hsl(30, 5%, 50%);
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 4px 6px 4px 6px; /* Some padding */
  font-size: 1.2em; /* Set a font size */
  font-style: bold; /* Set a font style */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 5px;
}

/* Darker background on mouse-over */
.btn:hover, btn:active{
  /* background-color: rgb(18, 28, 56); */
  background-color: hsl(30, 100%, 50%);
}

  /* Style buttons */
  .btn-add {
    background-color: #cccccc; /* Blue background */
    font-size: 1.4em; /* Set a font size */
    border: 3px; /* Remove borders */
  }