<table class="acronyms">
  <thead>
    <tr>
      <th>Entry</th>
      <th>Acronym</th>
      <th>Expression</th>
      <th>Description</th>
      <th>DEL</th>
    </tr>
  </thead>

  <tfoot>
    <tr>
      <td colspan="5">
        <!-- <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a>
          <a href="#">4</a> <a href="#">&raquo;</a></div> -->
          <button id="add" (click)="openDialog()"><b>+</b></button>
      </td>
    </tr>
  </tfoot>

  <tbody>
    <tr class="rows" *ngFor="let acronym of acronyms">
      <td width="13%">{{acronym.id}}</td>
      <td width="17%"><b>{{acronym.acronym}}</b></td>
      <td width="35%">{{acronym.expression | titlecase }}</td>
      <td width="45%">{{acronym.description | slice : 0 : 30}}...</td>
      <td width="10px" style="text-align: right"><button id="delete" title="delete acronym" (click)="delete(acronym)">x</button></td>
    </tr>
  </tbody>

</table>
